@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111;
    /* background-color: #eaeaea; */
    color: white;
}

#magic{
    height: 100vh;
    background: url("../assets/magic.png");
    background-size: cover;
    background-position-y: 0px ;
    animation: move 1s alternate infinite ;
}

@keyframes move{
    from{
        background-position-y: 0px ;
    }

    to{
        background-position-y: 8px ;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@layer components{
    .btn-primary{
        @apply bg-gradient-to-b from-blue-600 to-blue-700 hover:border-transparent hover:translate-y-px p-1 px-4 text-white rounded-md border-b-2 border-blue-500 outline-2 ms-2
    }
}


#about{
    background-image: url('../assets/bg.png');
    background-size: cover;
}